@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap');

:root {
  --tangerine: #f5c325;
  --orange: #fc9745;
  --grapefruit: #ff7348;
  --straweberry: #fd5a5c;
  --dragonfruit: #f2456f;
  --gradient: linear-gradient(90deg, #fc9745, #ff7348);

  --darkseagreen: #007982;
  --lightseagreen: #6DB9C2;

  --darkGray: #5d5c5c;
  --lightGray: #fcfcfc;
}

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: inherit;
}

* {
margin: 0;
padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, p {
  overflow-wrap: break-word;
}

h1 {
  font-family: "Rufina", sans-serif;
  font-size: 4em;
  line-height: 1.3em;
}

h2 {
  font-family: "Rufina", sans-serif;
  font-size: 3rem;
  color: #333;
  line-height: 4rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h4 {
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  color: #111;
}

li,
a,
button {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

/*section {
  position: relative;
}

/*  ----------------------------------------------------------Utility elements ----------------------------------------------------------------------------------------*/

/* --- Button in header section - main call-to-action ---*/
.main-button, #subscribe-button {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fc9745;
  background-color: rgba(243, 243, 243, 1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  
  border-radius: 0.25rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  display: inline-block;
  max-width: fit-content;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;

  margin-top: 3rem;
  text-decoration: none;
  transition: 0.5s;
}

.main-button::after, #subscribe-button::after {
  display: inline-block;
  padding-left: 2rem;
  content: "\2192";
}

.main-button:hover, #subscribe-button:hover {
  background-color: #333;
  opacity: 0.9;
  color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}

/* --- Inverted colors---*/

.inverted-color {
  background-color: #fc9745;
  color: #f1f1f1;

}

/* --- Button in body - call-to-action ---*/

.light-button {
  font-size: 1em;
  color: #fc9745;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fc9745;
  background-color: rgb(252, 252, 252);
  border-radius: 0.25rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.light-button:hover {
  background-color: #fc9745;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.main-button:active,
.light-button:active {
  transform: scale(0.95);
}

/*--Inline button link to external content --*/

.highlight-button {
  text-decoration: none;
  color: #fc9745;
  font-weight: 500;
}


.flex {
  /*Flexbox for containers*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}




/*  ----------------------------------------------------------Top Navigation ----------------------------------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem 10%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

header img {
  max-width: 100px;
  height: auto;
  transition: 0.5s;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  
  list-style: none;
  margin-left: 1.3em;
}

header .navigation li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1rem 1rem;
  transition: all 0.3s ease 0s;
}

header .navigation li a:hover {
  color: #fc9745;
  background-color: #f1f1f1;
  opacity: 0.9;
}

.cta {
  border: 1px solid #fff;
  padding: 1rem 1rem;
  transition: all 0.5s ease 0s;
  margin-left: 1rem;
}

.cta::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f073";
  display: inline-block;
  margin-right: 0.5rem;

  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.cta:hover {
  background: #fff;
  color: #111;
}

header.sticky {
  background: white; 
  opacity: 80%;
  padding: 1rem 5rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  max-width: 100vw;
  
}

header.sticky img {
  max-width: 75px;
  height: auto;
}

header.sticky .navigation li a {
  color: #111;
}

header.sticky .navigation li a:hover {
  color: #fff;
  background-color: #333;
  opacity: 1;
}

header.sticky .cta {
  color: #111;
  border: 1px solid #111;
}

header.sticky .cta:hover {
  background: #111;
  color: #fff;
}


/*  -------------------------------------------------   Wave Hero Section --------------------------------------------------------------------------*/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50vh;
  background-image: linear-gradient(90deg, #fc9745, #ff7348);
}

.tangerine {
  background-image: linear-gradient(90deg, #f5c325, #ffd208);
}


.coaching-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50vh;
  background-image: linear-gradient(90deg, #007982, #6DB9C2 );
}

.content {
  max-width: 70vw;
  margin: 10rem 0 1rem 0;
}

.banner h1, p {
  color: #fff;
  text-align: left;
}

.banner p {
  font-size: 1.2em;
  margin-top: 1em;
}


.banner .content h1 span {
  color: var(--orange);
  background-color: #fff;
}

.banner .content h1 span::before {
  font-family: "Rufina", sans-serif;
  content: " clarity. ";
  animation: animate infinite 8s;
}

@keyframes animate {
  10% {
    content: " clarity. ";
  }

  30% {
    content: " purpose. ";
  }

  50% {
    content: " focus. ";
  }

  75% {
    content: " alignment. ";
  }
  100% {
    content: " play. ";
  }
}

.wave-container {
  position: relative;
  bottom: 0;

  background: linear-gradient(
    135deg,
    rgba(252, 151, 69, 1) 0%,
    rgba(255, 115, 72, 1) 100%
  );
  color: white;
  width: 100%;
}

.coaching-wave-container {
  position: relative;
  bottom: 0;

  background: linear-gradient(
    135deg,
    #007982 0%,
    #6DB9C2 100%
  );
  color: white;
  width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  /*max-height: 150px;*/
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


.container {
  margin: 0;
  width: 100vw;
  padding: 2rem;
  align-items: center;
  text-align: center;
  margin: auto;
}

.introText {
  width: 70%;
  margin: auto;
}

.titleText span {
  color: var(--orange);
  font-size: 4rem;
}

.titleText p, 
.introText p {
  font-size: 1.3rem;
  color: var(--darkGray);
  margin: auto;
  text-align: center;
}


/*------------------------------------- Home page cards with audience -------------------------*/

.box-container {
  padding: 2rem 5rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem ;
  align-items: center;
}

article img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.box {
  border: 1.2rem solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.box-container .text {
  padding: 2rem 0 0.5rem 0;
  text-align: center;
}



.text p {
  padding: 1rem 0;
  color: #333;
  text-align: center;
}

/*-- To refactor --*/


.center {
  text-align: center;
  align-content: center;
}



.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* ------------------------------------------ Process section --------------------------------------------------------------------------------------------------------------*/

.value .content {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  grid-gap: 1rem;
  padding: 4rem 0;
}

.value .text h2 {
  color: #333;
  font-size: 3rem;
  font-weight: 500;
}

.value .text h1 span {
  color: #fc9745;
  font-weight: 600;
}

.value .text h3 {
  font-weight: 400;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 0.5rem;
}


/* ---------------------------------------------------------------  Contact form -------------------------------------------------------------------*/

.contact .container {
  padding-top: 5rem;
  flex-direction: column;
  align-content: center;
  max-width: 70vw;
 
}

.conversation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .conversation h2 span {
  color: #fc9745;
  font-size: 4rem;
}
.conversation a {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 5px;
  border: 2px solid rgb(252, 151, 69);
}

.conversation a:hover {
  background-color: #fc9745;
  color: #f1f1f1;
}

.conversation a:hover > svg {
  fill: #fff;
}

.social {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.fill {
  fill: #333;
}

.form-container {
  padding: 2rem 0rem;
}

.form {
  align-self: center;
  width: 100%;
  padding: 2rem 0;
}

.input {
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;
}

.textInput {
  min-height: 6rem;
  width: 100%;
  resize: none;
  margin: 0;
  padding: 0;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  color: #949494;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  border-style: hidden;
  font-size: 1rem;
  border-bottom: 1px solid #333;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:nth-last-child(odd) {
  margin-left: 2rem;
}

.form-input:focus {
  outline: 0;
  box-shadow: 2px rgba(207, 207, 207, 0.5);
  background-color: #f1f1f1;
  color: #333;
  padding: 0.375rem 0.75rem;
  border-bottom: 1px solid #fc9745;
}

.input-textarea {
  min-height: 10rem;
  width: 100%;
  margin: 0 auto 1.25rem auto;
  resize: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #949494;
  border-bottom: 1px solid #333;
}

.input-textarea:focus {
  border-bottom: 1px solid #fc9745;
  color: #333;
  outline: 0;
  box-shadow: 2px rgba(207, 207, 207, 0.5);
  background-color: #f1f1f1;
}

/* ------------------------------------------------------  Footer setion ------------------------------------------------*/

.footer {
  background-color: var(--orange);
  padding: 3rem;
  text-align: left;
}

.footer .container {
  justify-content: space-between;
  margin-top: 30px;
  max-width: 100vw;
  text-align: left;
}

.footer .titleText {
  font-weight: 400;
  padding: 15px 0px 50px 0px;
  max-width: 80vw;
  text-align: left;
}

.white {
  color: #fff;
}

.copyrightText {
  padding: 0;
  display: flex;

  text-align: left;
  overflow: none;
  max-width: 95vw;
}

.copyrightText p {
  color: #fff;
}

footer .social {
  position: relative;
  display: flex;
  margin-top: 0;
}

footer .social li {
  list-style: none;
  margin-left: 30px;
}

footer .social li a {
  text-decoration: none;
  color: white;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95vw;
}

/* --------------------------------------------------- Services | Big Container ---------------------------------------------------------------------------------*/

#services .container .introText {
  display: block;
  width: 80vw;
  align-items: center;
  text-align: center;
}

#services .container .introText p {
  font-family: "Poppins", serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
}



/*------------------------------------  Roadmap -----------------------------*/

.timeline {
  position: relative;
  margin: auto;
  width: 70vw;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 90%;
  background: #333;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: 1.7rem;
  position: relative;
  width: 50%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
  
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.timeline-content {
  padding-bottom: 2rem;
}

.right-align p {
  text-align: right;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fc9745;
  box-shadow: 0 0 0 3px rgba(248, 218, 46, 0.2);
  top: 24px;
  right: -6px;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fc9745;
  box-shadow: 0 0 0 3px rgba(248, 218, 46, 0.2);
  top: 24px;
  left: -4px;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Rufina", sans-serif;
  color: #fc9745;
}

.timeline ul li p {
  margin: 10px 0;
  padding: 0;
  color: #333;
}

.timeline ul li h4 {
  margin: 0;
  padding: 2rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #5d5c5c;
  text-transform: lowercase;
}

.timeline ul li .step h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-transform: lowercase;
}

.timeline ul li:nth-child(odd) .step {
  position: absolute;
  top: 12px;
  right: -350px;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;

  transition: all ease 0.5s;
}

.timeline ul li:nth-child(even) .step {
  position: absolute;
  top: 12px;
  left: -300px;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: all ease 0.5s;
}

/*------------------------------------- Packages  ------------------------ */

.packages .titleText .section-text {
  text-align: center;
  margin: 8rem 0rem 2rem 0rem;
  font-family: "Rufina", serif;
}

.packages-container {
  display: grid;
  grid-gap: 1rem; 
  margin: 3rem 5rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-around ;
}

.package {
 padding: 1rem 3rem;
 box-shadow: 0 5px 35px rgba(0, 0, 0, 0.05);
 position: relative;
 padding-bottom: 8rem;
}

.orange {
  border-top: 5px solid #fc9745;
}

.grapefruit {
  border-top: 5px solid #ff7348;
}

.dragonfruit {
  border-top: 5px solid #f2456f;
}

.package-header {
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 1.7rem;
}

.grid-text-title {
  padding: 2rem;
  font-family: "Rufina", serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #5d5c5c;
}

.grid-text {
  font-size: 1rem;
  color: #333;
  font-weight: 400;  
  padding-bottom: 1.5rem;
}

.grid-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}
.package-list {
  padding: 0;
  margin: 0;
}

.package-feature {
  list-style: none;
  margin: 0;
  padding-left: 2rem;
  position: relative;
  font-size: 0.9rem;
  color: #333;
  font-weight: 400;
}

.package-feature:not(:last-child) {
  margin-bottom: 0.5rem;
}

.package-feature::before {
  content: "\2714";
  color: #fc9745;
  left: 0;
  position: absolute;
}


.spacer {
  top: -1rem;
  padding-bottom: 5rem;
}

.smallText {
  font-size: 0.9rem;
  text-align: center;
  color: #333;
}

/* -----------------   Workshops page --------------------*/

.workshops {
  margin: 0;
  padding: 0;
}

.workshops .content .box {
  width: 450px;
  margin: 20px;
  border: 15px solid #fff;

  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
  padding-bottom: 3rem;
}

.workshops .content .box .imgBox {
  position: relative;
  width: 100%;
  height: 400px;
}

.workshops .content .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workshops .content .box .text {
  padding: 15px 0 5px;
  text-align: center;
}

.workshops .content .box .text h3 {
  font-weight: 600;
  font-size: 1.5em;
}

.workshops .content .box .text .line {
  padding-top: 1.5rem;
  border-top: 1px solid rgb(231, 231, 231);
}

.workshops .content .box .text p {
  font-weight: 300;
  padding: 15px 5px;
}

.course-summary h4 {
  padding-left: 1rem;
}

.workshop-text .titleText .section-text {
  text-align: center;
  margin: 8rem 0rem 2rem 0rem;
  font-family: "Rufina", serif;
}

.workshop-text .titleText p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: center;
}

/*-- Thank you Page  --*/

.thanks {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("assets/thanks7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribed {
  position: relative;
  width: auto;

  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: linear-gradient(rgba(252, 151, 69, 0.6), rgba(255, 115, 72, 0.8)), url("/assets/jean-louis-aubert-HOYuT3zFXfA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.subscribed .content, 
.thanks .content {
  max-width: 1000px;
  text-align: center;
  margin-top: 10%;
}

.subscribed .content h2, 
.thanks .content h1 {
  color: white;
  text-align: left;
}

.subscribed .content p, 
.thanks .content p {
  font-size: 1.5em;
  color: white;
  margin-top: 50px;
  text-align: left;
}

.subscribed .container, 
.thanks .container {
  flex-direction: column;
  margin-top: 30px;
  max-width: 99vw;

  padding: 50px;
}

.white {
  color: #fff;
}

.copyrightText {
  padding: 8px 0px;
  display: flex;

  text-align: left;
  overflow: none;
  max-width: 95vw;
}

.copyrightText p {
  color: #fff;
}

.subscribed .social,
.thanks .social {
  position: relative;
  display: flex;
}

.subscribed .social li,
.thanks .social li {
  list-style: none;
  margin-left: 30px;
}

.subscribed .social li a,
.thanks .social li a {
  text-decoration: none;
  color: white;
}

/*--- 404 Page --*/

.not-found {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("/assets/oops.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.not-found .content {
  max-width: 1000px;
  text-align: center;
  margin-top: 10%;
}

.not-found .content h2 {
  
  font-size: 4em;
  color: white;
  text-align: left;
}

.not-found .content p {
  font-size: 1.2em;
  color: white;
  margin-top: 50px;
  text-align: left;
}

.not-found .container {
  flex-direction: column;
  margin-top: 30px;
  max-width: 99vw;

  padding: 50px;
}

.not-found .footerRow {
  align-items: center;
  justify-content: center;
}


.copyrightText {
  padding: 8px 0px;
  display: flex;

  text-align: left;

  overflow: none;
  max-width: 95vw;
}

.copyrightText p {
  color: #fff;
}

.not-found .social {
  position: relative;
  display: flex;
  margin-top: 0;
}

.not-found .social li {
  list-style: none;
  margin-left: 30px;
}

.not-found .social li a {
  text-decoration: none;
  color: white;
}

.button-container {
  display: flex;
  align-content: space-between;
  gap: 1em;
}



/*-------------------- Resources page --------------------------- */

.resources {
  margin-top: 50px;
  display: grid;
  max-width: 100vw;
}

.subscribe-container {
  width: 80%;
  margin: 2rem 0;
  display: grid;
  gap: 1rem;

  grid-auto-flow: column;
  align-content: center;
   /* background: rgba(252, 252, 252, 0.5); */ 
}

.subscribe {
  width: auto;
  padding: 0.5rem 0;
  
}

#subscribe {
  border: none;
  font-size: 1.1rem;
  color: #fff;
  background: rgba(252, 252, 252, 0.2);
  border-radius: 0.2rem;
  align-items: left;

  /* border-bottom: #fff solid 1px; */
  padding: 1rem;
  margin: 0;
}

#subscribe:focus {
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: #fff solid 2px;
}




.resource-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  margin: 8rem;

  /*background: url(assets/ducks.jpg);
  background-size: cover;
  background-attachment: fixed;
*/
}

.section-text .user-journey .titleText .section-text {
  margin: 8rem 0 3rem 0;
  text-align: center;
  font-family: "Rufina", serif;
}

.resource-container > div {
  height: 400px;
  padding: 4rem;
  /*background: url(assets/ducks.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}

.resource-container > div:hover {
  background-image: none;
}

.resource-container > div h2 {
  color: #fff;
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  font-weight: 600;
}

.resource-container > div h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.resource-container > div p {
  color: #fff;
  font-size: 1.1rem;
}

.resource-container > div:nth-last-of-type(6) {
  grid-column: 1/2;
  background-color: #ff7348;
}

.resource-container > div:nth-last-of-type(5) {
  grid-column: 2/4;
  background-color: #f2456f;
}

.resource-container > div:nth-last-of-type(4) {
  grid-column: 1/3;
  background-color: #fc9745;
}

.resource-container > div:nth-last-of-type(3) {
  grid-column: 3/4;
  background-color: #fd5a5c;
}

.resource-container > div:nth-last-of-type(2) {
  grid-column: 1/2;
  background-color: #ff7348;
}

.resource-container > div:nth-last-of-type(1) {
  grid-column: 2/4;
  background-color: #f2456f;
}

.bg1 {
  background: url(assets/resources.jpg);
}

.bg2 {
  background: url(assets/oops.jpg);
  background-position: 50% 25%;
}



.tealTransformation .goodies .titleText .section-text {
  margin: 8rem 0 3rem 0;
  text-align: center;
  font-family: "Rufina", serif;
}

.tealTransformation .goodies .titleText h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.center-buttons {
  display: flex;
  flex-direction: row;
  min-width: fit-content;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cards {
  margin: auto;
  display: grid;
  justify-content: center;
}

.card-container {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.cards .card-container img {
 object-fit: cover;
 background: transparent url(/assets/spinner.gif) no-repeat scroll center center;
}

.yellow-button {
  padding: 1rem 3rem;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  margin-bottom: 2rem;
  border: none;
  background: #f5c325;
  text-transform: uppercase;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.cards .button {
  display: block;
  margin: auto;
}
/*------------------------------------------------------- Mobile responsive ---------------------------------------------*/

@media (max-width: 1400px) {
  header,
  header.sticky {
    padding: 1rem 2rem;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
  }

  header.sticky .navigation.active {
    height: calc(100% - 75px);
    top: 75px;
    color: #333;
  }

  header .navigation.active li {
    margin-left: 0;
    color: black;
    font-size: 1.6em;
    line-height: 2em;
    font-weight: 700;
  }

  header.sticky .menuToggle.active {
    filter: invert(0);
  }
  header .navigation.active a {
    color: black;
  }

  header .navigation.active a:hover {
    color: #fc9745;
    background: none;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/assets/menu.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 2rem;
  }

  .menuToggle.active {
    background: url(/assets/close-black.svg);
    filter: invert(1);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menuToggle {
    filter: invert(1);
  }


  .title {
    text-align: center;
  }

  .titleText {
    font-size: 2.5rem;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .value .container .titleText p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 1rem 2rem;
  }

  
.box-container {
  padding: 2rem 2rem;
  margin: 1rem;
  grid-gap: 1rem ;
  align-items: center;
}

article img {
  width: 100%;
  height: 15rem;
}

  .testimonial .content .box {
    margin: 10px;
    padding: 20px;
  }

  .contactForm {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /* Resources responsive area --*/

  .resources .resource-container {
    display: inline-block;
    row-gap: 0.5rem;
    margin: 3rem;
  }

  .resources .resource-container > div {
    height: 400px;
    padding: 1rem;
  }

  .resource-container > div h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .resource-container > div h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .resource-container > div p {
    font-size: 0.8rem;
  }

}

/*Shrinking for mobile*/
@media (max-width: 1000px) {

  .box-container {
    padding: 2rem 1rem;
    margin: 1rem;
    grid-gap: 1rem ;
  }
  
  article img {
    width: 100%;
    height: 10rem;
  }


  .conversation {
    display: flex;
    flex-direction: column;
  }

  .social > a {
    align-items: center;
    margin: auto;
  }

  #name,
  #email {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 1rem;
  }

  .input {
    flex-direction: column;
  }

  
  .timeline {
    
  width: 70vw;
}

@media (max-width: 768px) {
  .content {
    height: 70vh;
  }

  h1 {
    font-size: 2.5rem;
  }


  .main-button {
    text-align: center;
  }
  .main-button::after {
    content: "";
  }

  /* refactored until here */

  .introText {
    margin-top: 5%;
  }

  .introText p {
    font-size: 1.3rem;
  }

  .content {
    height: 70%;
  }
  .title {
    text-align: center;
  }

  .titleText {
    font-size: 1.8rem;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .value .container .titleText p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 1rem 2rem;
  }


  .box-container {
    padding: 2rem 2rem;
    margin: 1rem;
    grid-template-columns: 1fr;
  }
  
  article img {
    width: 100%;
    height: 12rem;
  }
  .testimonial .content .box {
    margin: 10px;
    padding: 20px;
  }

  .contactForm {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }


}

/*-- Responsive for small Android phone ---*/

@media (max-width: 450px) {
  header img {
    max-width: 75px;
  }

  .content h2 {
    padding-top: 20px;
  }

  .main-button {
    padding: 0.7rem 0.7rem;
    max-width: 100%;
  }

  .introText {
    margin: 100px 25px 100px 25px;
  }

  .cards .introText h2 {
    margin-bottom: 30px;
  }

  .cards .introText p {
    font-size: 1.3rem;
  }

  .content {
    width: 100vw;
  }

  .cards .content .box {
    margin: 0;
  }

  .cards .content .box .imgBox {
    height: 250px;
  }

  .value .section-text {
    margin-top: 5rem;
    line-height: 2.8rem;
  }

  .value .content .box {
    text-align: center;
  }


  .footer {
    padding: 1rem;
  }

  .footerRow {
    flex-direction: column-reverse;
  }

}
